<% layout('layouts/boilerplate') -%>

<body>
  <div class="row-1 mt-5 mb-5">
    <div class="col-10 offset-1">
      <!-- <h1>Create A New List :</h1> -->
      <form
        action="/lists/<%=list._id%>"
        method="post"
        class="needs-validation"
        novalidate
      >
        <div class="mb-3 mt-2">
          <label for="title" class="form-label">Title</label>
          <input
            class="form-control"
            type="text"
            id="title"
            name="title"
            placeholder="Add a catchy title : "
            value="<%=list.title%>"
            required
          />
          <div class="invalid-feedback">Please provide us the Title.</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            class="form-control"
            id="description"
            name="description"
            required
          >
          <%=list.description%></textarea
          >
          <div class="invalid-feedback">Please provide us the Description.</div>
        </div>

        <div class="mb-3">
          <label for="imageurl" class="form-label">Image URL</label>
          <input
            class="form-control"
            id="imageurl"
            type="text"
            name="image"
            value="<%=list.image.url%>"
            required
          />
          <div class="invalid-feedback">Please provide us the ImageURL.</div>
        </div>
        <div class="row">
          <div class="mb-3 col-md-5">
            <label for="price" class="form-label">Price</label>
            <input
              class="form-control"
              id="price"
              type="number"
              name="price"
              placeholder="Eg. 25000"
              value="<%=list.price%>"
              required
            />
            <div class="invalid-feedback">Please enter a valid Price.</div>
          </div>
          <div class="mb-3 col-md-7">
            <label for="country" class="form-label">Country</label>
            <input
              class="form-control"
              id="country"
              type="text"
              name="country"
              placeholder="Eg. India"
              value="<%=list.country%>"
              required
            />
            <div class="invalid-feedback">Please provide us the Country.</div>
          </div>
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            class="form-control"
            id="location"
            type="text"
            name="location"
            placeholder="Eg. Kolkata, West Bengal"
            value="<%=list.location%>"
            required
          />
          <div class="invalid-feedback">Please provide us the Location.</div>
        </div>
        <div class="row">
          <div class="col-12">
            <button class="btn btn-dark w-100">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</body>
