<% layout('layouts/boilerplate') -%>
<body>
  <!-- <form action="/lists/new"><button>Create New List</button></form> -->
  <!-- <h1>All Lists :</h1> -->

  <main class="cards-main">
    <% lists.forEach(list => { %>
    <a href="/lists/<%=list._id%>">
      <div class="card card-each" style="width: 20rem">
        <img src="<%=list.image.url%>" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title"><%=list.title%></h5>
          <!-- <p class="card-description" style="font-weight: 350; color: #222222">
            <%=list.description%>
          </p> -->
          <p class="card-price">
            ₹<%=list.price.toLocaleString("en-IN")%> &bull; night
          </p>
          <!-- <a href="/lists/<%=list._id%>" class="btn btn-success"
            >Show Details</a
          > -->
        </div>
      </div></a
    >

    <% });%>
  </main>
</body>
